@model INTEX_AURORA_BRICKS.Models.Cart


<h2>Your Cart</h2>

<table>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Amount</th>
        <th>Subtotal</th>
    </tr>
    <tbody>
        @foreach (var line in Model.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td>@line.Products.name</td>
                <td>@line.Quantity</td>
                <td>@line.Products.price</td>
                <td>@(line.Quantity * line.Products.price).ToString("c")</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <tr>
        <td colspan="3">Total:</td>
        <td>@Model.CalculateTotal().ToString("c")</td>
    </tr>
</p>
