@model INTEX_AURORA_BRICKS.Models.Products

<div class="ticket-details-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-image">
                    <img src="@Model.img_link" alt="/assets/images/about_bg.jpg" style="width:100%;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>@Model.name</h4>
                    <span>Piece Count: @Model.num_parts</span>
                    <ul>
                        <li>@Model.description</li>
                    </ul>
                    <div class="quantity-content">
                        <div class="left-content">
                            <ul>
                                <li><strong>Details:</strong></li>
                                <li><p><strong>Primary Color: </strong> @Model.primary_color</p></li>
                                <li><p><strong>Secondary Color: </strong> @Model.secondary_color</p></li>
                                <li><p><strong>Year: </strong>@Model.year</p></li>
                                <li><p><strong>Category: </strong> @Model.category</p></li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="total">
                        <h4>Total: $@Model.price</h4>
                        <div><img src="~/assets/images/cart.jpg" /></div>
                    </div>
                    <div class="warn">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
