@model INTEX_AURORA_BRICKS.Models.ProductsViewModel

<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Products</h2>
                <span>Check out the available sets designed with passion and creativity!</span>
            </div>
        </div>
    </div>
</div>

<div class="tickets-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-box">
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="search-heading">
                                    <h4>Sort Products By:</h4>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <select value="month">
                                            <option value="month">Pieces</option>
                                            <option name="June" id="June">June</option>
                                            <option name="July" id="July">July</option>
                                            <option name="August" id="August">August</option>
                                            <option name="September" id="September">September</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select value="location">
                                            <option value="location">Color</option>
                                            <option name="Brazil" id="Brazil">Brazil</option>
                                            <option name="Europe" id="Europe">Europe</option>
                                            <option name="US" id="US">US</option>
                                            <option name="Asia" id="Asia">Asia</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select value="month">
                                            <option value="month">Price</option>
                                            <option name="min" id="min">$0 - $50</option>
                                            <option name="standard" id="standard">$50 - $100</option>
                                            <option name="hight" id="hight">$100 - $200</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="heading">
                    <h2>Available Sets</h2>
                </div>
            </div>
            @foreach (var data in Model.Products)
            {
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="@data.img_link" alt="/assets/images/about-bg.jpg" style="width:300px;">
                            <div class="price">
                                <span><em>$@data.price</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span><a href="@Url.Action("Details", "Home", new { id = data.product_ID })">See Details</a></span>
                            <h4>@data.name</h4>
                            <ul>

                                <li>Piece Count: @data.num_parts</li>
                                <li>Year: @data.year</li>
                            </ul>
                            <a href="ticket-details.html"><img src="~/assets/images/cart.jpg" style="width:100px;" /></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />
<div style="text-align: center;">
    <div class="pagination" style="display: inline-block;">
        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("Products", "Home", new { page = Model.CurrentPage - 1, pageSize = Model.PageSize })" style="background-color: lightgray; padding: 5px; margin: 5px; border-radius: 5px;">Previous</a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="@Url.Action("Products", "Home", new { page = i, pageSize = Model.PageSize })" style="background-color: @(Model.CurrentPage == i ? "gray" : "lightgray"); color: white; padding: 5px; margin: 5px; border-radius: 5px;">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("Products", "Home", new { page = Model.CurrentPage + 1, pageSize = Model.PageSize })" style="background-color: lightgray; padding: 5px; margin: 5px; border-radius: 5px;">Next</a>
        }
    </div>
</div>


<br />
<div>
    @using (Html.BeginForm("Products", "Home", FormMethod.Post))
    {
        <label for="pageSize">Items per page:</label>
        <select id="pageSize" name="pageSize" onchange="this.form.submit();">
            @foreach (var size in new[] { 5, 10, 20 }) // Define your desired page sizes here
            {
                <option value="@size" selected="@(Model.PageSize == size ? "selected" : null)">@size</option>
            }
        </select>
    }
</div>
