@model IEnumerable<INTEX_AURORA_BRICKS.Models.Products>
<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Products</h2>
                <span>Check out the available sets designed with passion and creativity!</span>
            </div>
        </div>
    </div>
</div>

<div class="tickets-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" >
                <div class="search-box">
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="search-heading">
                                    <h4>Sort Products By:</h4>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <select value="month">
                                            <option value="month">Pieces</option>
                                            <option name="June" id="June">June</option>
                                            <option name="July" id="July">July</option>
                                            <option name="August" id="August">August</option>
                                            <option name="September" id="September">September</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select value="location">
                                            <option value="location">Color</option>
                                            <option name="Brazil" id="Brazil">Brazil</option>
                                            <option name="Europe" id="Europe">Europe</option>
                                            <option name="US" id="US">US</option>
                                            <option name="Asia" id="Asia">Asia</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select value="month">
                                            <option value="month">Price</option>
                                            <option name="min" id="min">$0 - $50</option>
                                            <option name="standard" id="standard">$50 - $100</option>
                                            <option name="hight" id="hight">$100 - $200</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="heading">
                    <h2>Available Sets</h2>
                </div>
            </div>
            @foreach (var data in Model)
            {
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="@data.img_link" alt="/assets/images/about-bg.jpg" style="width:300px;">
                            <div class="price">
                                <span><em>$@data.price</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span><a href="@Url.Action("Details", "Home", new { id = data.product_ID })">See Details</a></span>
                            <h4>@data.name</h4>
                            <ul>
                                
                                <li>Piece Count: @data.num_parts</li>
                                <li>Year: @data.year</li>
                            </ul>
                                <a href="ticket-details.html"><img src="~/assets/images/cart.jpg" style="width:100px;"/></a>
                        </div>
                    </div>
                </div>
            }


            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>