@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<INTEX_AURORA_BRICKS.Models.OrderPredictions>
@{
    ViewData["Title"] = "Predictions";
    var classTypeDict = new Dictionary<int, string>
    {
        {0, "Not Fraud"},
        {1, "Fraud"}
    };
}

<style>
    .table-responsive {
        overflow-x: auto;
    }

    .full-width-table {
        margin-left: -50px;
        margin-right: 0;
    }

    .table {
        width: auto;
        margin-bottom: 0;
    }

    .prediction-cell {
        background-color: #e0f2f1;
    }

</style>

<h2>Orders</h2>
<div class="full-width-table"> @*maybe redo this styling*@
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>TransactionId</th>
                <th>CustomerId</th>
                <th>Date</th>
                <th>WeekDay</th>
                <th>Time(Military)</th>
                <th>Entry Mode</th>
                <th>Amount($)</th>
                <th>Transaction Type</th>
                <th>Country of transaction</th>
                <th>Shipping Address</th>
                <th>Bank</th>
                <th>Type of Card</th>
                <th>Fraud</th>
                <th class="prediction-cell">Fraud Prediction</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Orders.transaction_ID</td>
                    <td>@item.Orders.customer_ID</td>
                    <td>@item.Orders.date</td>
                    <td>@item.Orders.day_of_week</td>
                    <td>@item.Orders.time</td>
                    <td>@item.Orders.entry_mode</td>
                    <td>@item.Orders.amount</td>
                    <td>@item.Orders.type_of_transaction</td>
                    <td>@item.Orders.country_of_transaction</td>
                    <td>@item.Orders.shipping_address</td>
                    <td>@item.Orders.bank</td>
                    <td>@item.Orders.type_of_card</td>
                    <td>@item.Orders.fraud</td>
                    <td class="prediction-cell">@item.prediction</td>
                </tr>
            }
        </tbody>
    </table>
</div>